<div class="container mt-2">
  <div class="card card-block">
    <nav class="navbar navbar-dark mb-1 bg-dark">
      <h1 class="navbar-brand mb-0">Overall Metrics</h1>
    </nav>
    <div class="row">
      <app-metric class="col-sm-6"
      [title]="'CPU'"
      [used]="cpu.used"
      [max]="cpu.available"
      [description]="'utilization of CPU cores'"
    ></app-metric>
    <app-metric class="col-sm-6"
      [title]="'Memory'"
      [description]="'utilization of memory in GB'"
      [used]="mem.used"
      [max]="mem.available"
    >

    </app-metric>
    </div>
  </div>
</div>
